/* Write your CSS here */
.appointment-item {
  list-style-type: none;
  border: 1px solid #b5b7c4;
  border-radius: 12px;
  padding: 16px;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .appointment-item {
    width: 30%;
    margin-left: 12px;
    margin-right: 12px;
    flex-grow: 1;
    max-width: 300px;
  }
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.title {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  margin: 0px;
}

.star-button {
  background-color: transparent;
  border: none;
  padding: 0px;
  outline: none;
  cursor: pointer;
}

.star {
  width: 20px;
  height: 20px;
}

.date {
  color: #7e858e;
  font-family: 'Roboto';
  font-size: 14px;
  margin: 0px;
  margin-top: 8px;
}
